html,
body {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  font-weight: 500;
  color: #291507;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.css-1nvnyqx-MuiPaper-root-MuiDrawer-paper {
  height: 100%;
}

/* search bar in drawer */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0;
}

.SearchBar_search__PQvny {
  margin-block: 0 !important;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .css-19r6kue-MuiContainer-root {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media only screen and (min-width: 700px) {
  .MuiContainer-root {
    padding-inline: 4rem !important;
  }
}

/* } */
