.drawer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &Close {
    align-self: flex-end;
    transform: scale(1.3);
  }

  &Search {
    margin-block: 1.8rem;

    & > div {
      width: 100%;
    }
    // margin-block: 1rem !important;
  }
}
